.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(46, 45, 45, 0.5)
      ),
      url("https://cdn.wallpapersafari.com/43/94/V3s1rn.jpg");
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-right: 5rem;
    margin-top: 10px;
}
